.game-entry {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5.2vw;
  gap: 15.6vw;
      min-width: 1920px;
z-index: 1;
}

.game-entry-btn {
  cursor: pointer;
  width: 399px;
  height: 129px;
  line-height: 120px;
  font-size: 62px;
  font-family: var(--font-source-han-serif);
  font-weight: 700;
  position: relative;
}
