.game-info {
  display: flex;
  align-items: end;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-right: 100px;
  padding-bottom: 115px;
  min-width: 1920px;
  justify-content: end;
  color: #ecd2ad;
}

/* .game-info-role {
  display: flex;
  background: #1a1a1a;
  width: 1217px;
  height: 580px;
  font-family: var(--font-source-han-serif);
  font-size: 28px;
  text-align: left;
  color: #ecd2ad;
  justify-content: right;
  position: relative;
} */

.game-info-role-img {
  height: 100vh;
  /* height: 366px; */
  max-width: none;
  object-fit: cover;
  color: transparent;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.game-info-role-info {
  position: relative;
}

.game-info-role-info-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.game-info-role-card {
  width: 600px;
  position: relative;
  padding-left: 46px;
  z-index: 1;
  font-family: var(--font-sc-heavy);
  font-size: 21px;
}

.game-info-role-card-header {
  display: flex;
  justify-content: space-between;
}

.game-info-role-name {
  
  width: 277px;
  height: 153px;
}

.game-info-role-badge {
  width: 173px;
  height: 184px;
}


.game-info-role-number {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.game-info-role-descript {
  width: 584px;
  height: 107px;
    font-size: 21px;
}

.game-info-video-group {
  display: flex;
  justify-content: space-between;
}

.game-info-video {
  width: 296px;
  height: 177px;
  cursor: pointer;
  position: relative;
  border: 4px solid #000;
}

.game-info-video-img {
  width: 100%;
  height: 100%;
}

.game-info-video-play {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}

.game-info-tabs {
  display: flex;
  align-items: center;
  margin-top: 53px;
  height: 141px;
  gap: 60px;
}


.game-info-tab {
  width: 76px;
  height: 129px;
  /* background: #b7882a; */
  cursor: pointer;
  color: #6e6964;
}
.game-info-tab-img {
  width: 76px;
  height: 95px;
  margin-bottom: 10px;
}

.game-info-tab-active {
  color: #ecd2ad;
}

.game-info-tab-prev {
  width: 76px;
  height: 52px;
  cursor: pointer;
  background: url(../public/images/game_carousel_prev.png) center center no-repeat;
  background-size: cover;
  margin-right: -30px;
}

.game-info-tab-next {
  width: 76px;
  height: 52px;
  cursor: pointer;
  margin-left: -30px;
  background: url(../public/images/game_carousel_next.png) center center no-repeat;
  background-size: cover;
}