.game-carousel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  min-width: 1920px;
  position: relative;
  gap: 30px;
  justify-content: center;
}

.carousel-container {
  overflow: hidden; /* 隐藏框外内容 */
  position: relative;
  /* margin-left: 70px; */
  /* top: -20px; */
}

.carousel-slide {
  position: absolute;
  width: 810px;
  height: 567px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  left: 120px;
  top: 20.5px;
  transition: all 0.5s;
  opacity: 0;
}

.carousel-slide.active {
  z-index: 2; /* 确保当前图片在最上层 */
  width: 996px;
  height: 688px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

/* 小圆点样式 */
.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}

.dot {
  width: 12.4px;
  height: 12.4px;
  border-radius: 50%;
  background-color: #563817;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot-active {
  background-color: #ff9e33;
}

.carousel-slide-box {
  width: 969px;
  height: 640px; /* 可视区域高度 */
  position: relative;
}

.carousel-current {
  left: 45px;
  top: 0;
  width: 879px;
  height: 608px;
  z-index: 3;
  opacity: 1;
}

.carousel-prev {
  left: 0;
  opacity: 1;
  z-index: 2;
}
/* 伪元素作为黑色覆盖层 */
.carousel-prev::before {
  content: ""; /* 伪元素必须有 content */
  position: absolute; /* 覆盖在容器上方 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000; /* 纯黑覆盖层 */
  opacity: 0.5; /* 覆盖层透明度（0.9 表示 90% 黑色覆盖） */
  z-index: 2; /* 确保覆盖在内容上方 */
}

.carousel-next {
  left: 159px;
  opacity: 1;
  z-index: 2;
}

/* 伪元素作为黑色覆盖层 */
.carousel-next::before {
  content: ""; /* 伪元素必须有 content */
  position: absolute; /* 覆盖在容器上方 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000; /* 纯黑覆盖层 */
  opacity: 0.5; /* 覆盖层透明度（0.9 表示 90% 黑色覆盖） */
  z-index: 2; /* 确保覆盖在内容上方 */
}

.game-carousel-msg {
  width: 621px;
  text-align: center;
}
.game-carousel-msg-title {
  font-family: var(--font-sc-heavy);
  font-size: 52px;
  color: #e9ba78;
}

.game-carousel-msg-line {
  width: 391px;
  height: 15px;
  background: url(../public/images/game_carousel_msg_line.png) center center
    no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 25px 0;
}

.game-carousel-msg-content {
  font-family: var(--font-sc-bold);
  color: #ecd2ad;
  font-size: 22px;
}
