.game-entry {
  width: 100vw;
  height: 100vh;
  background: url(../public/images/bg5.png) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5.2vw;
  gap: 15.6vw;
}

.game-entry-btn {
  background: url(../public/images/entry_btn_bg.png) center center no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 399px;
  height: 129px;
  line-height: 120px;
  font-size: 62px;
  font-family: var(--font-source-han-serif);
  font-weight: 700;
}
