.game-info {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 72px;
  min-width: 1920px;
  top: 20px;
}

.game-info-role {
  display: flex;
  background: #1a1a1a;
  width: 1217px;
  height: 580px;
  font-family: var(--font-source-han-serif);
  font-size: 28px;
  text-align: left;
  color: #ecd2ad;
  justify-content: right;
  position: relative;
}

.game-info-role-img {
  width: 726px;
  /* height: 366px; */
  max-width: none;
  object-fit: cover;
  color: transparent;
  position: absolute;
  right: 563px;
  bottom: 0;
}

.game-info-role-info {
  position: relative;
  width: 563px;
  padding: 78px 23px 50px;
}

.game-info-role-info-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.game-info-tabs {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.game-info-role-card {
  position: relative;
  z-index: 1;
  font-family: var(--font-sc-heavy);
  font-size: 21px;
}

.game-info-tab {
  width: 94px;
  height: 49px;
  font-family: var(--font-sc-heavy);
  /* background: #b7882a; */
  cursor: pointer;
  background: linear-gradient(to bottom, #966734 0%, #b08129 90%);
  border: 4px solid #b8882b;
  border-radius: 4px;
  color: #ecd2ad;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.game-info-tab-inner {
  background: #976734;
}

.game-info-tab-active {
  /* background: #b85b2b; */
  border: 4px solid #b85d2b;
  background: linear-gradient(to bottom, #83351c 0%, #b85316 90%);
}

.game-info-role-name {
  font-size: 73.52px;
}

.game-info-tab-active .game-info-tab-inner {
  background: #85341c;
}

.game-info-role-number {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.game-info-role-descript {
    font-size: 21px;
    line-height: 33px;
    letter-spacing: 1px
}

.game-info-news {
  background: #1a1a1a;
  padding: 25px;
  width: 550px;
  height: 580px;
  font-family: var(--font-source-han-serif);
  overflow: hidden;
}

.game-info-news-header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5b4720;
}

.game-info-news-header-title {
  font-size: 32px;
  color: #ecd2ad;
  font-family: var(--font-sc-heavy);
}

.game-info-news-more {
  border-radius: 50%;
  transform: scale(0.8);
  background: #39311e;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game-info-news-top-title {
  font-family: var(--font-sc-semi-bold);
  font-size: 21px;
  line-height: 26px;
  color: #ff2400;
  margin: 25px 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 控制显示的行数 */
  overflow: hidden; /* 超出部分隐藏 */
  cursor: pointer;
}

.game-info-news-item {
  font-family: var(--font-alibaba-puhuiti);
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 10px 0;
  cursor: pointer;
  color: #dbc1a0;
  gap: 10px;
  font-size: 16.61px;
  line-height: 21.11px;
}

.game-info-news-type {
  color: #936c1c;
  vertical-align: top;
  margin-right: 5px;
}

.game-info-news-content {
  /* flex:1; */
  display: flex;
}

.game-info-news-title {
  width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 控制显示的行数 */
  overflow: hidden; /* 超出部分隐藏 */
  text-align: left;
}
