.game-info {
    display: flex;
    gap: 20px
}

.game-info-role {
    display: flex;
    background: rgba(0, 0, 0, .3);
}

.game-info-role-img {
    width: 100px;
    background: #3475ad;
    height: 100%;
}

.game-info-tabs {
    display: flex;
}

.game-info-tab {
    background: #b7882a;
    color: #ebd1ad;
}

.game-info-tab-inner {
    background: #976734
}

.game-info-tab-active {
    background: #b85b2b;

}

.game-info-tab-active .game-info-tab-inner {
    background: #85341c
}

.game-info-news {
    background: rgba(0, 0, 0, .3);
    padding: 20px;
}

.game-info-news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5b4720;
}

.game-info-news-header-title {
    font-size: 20px;
    color: #ebd2ad;
}

.game-info-news-more {
    border-radius: 50%;
    background: #39311e;
    color: #ebd2ad;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.game-info-news-item {
    display: flex;
        justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding: 10px 0;
    cursor: pointer;
    color:#dbc1a0;
    gap:10px
}

.game-info-news-type {
    color: #936c1c;
    margin-right: 5px;
}

.game-info-news-content {
    flex:1;
  white-space: nowrap; /* 强制文本单行显示 */
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 显示省略号 */
}