.game-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0 ;
    width: 100%;

    padding: 20px;
}

.game-header-logo {
    width: 100px;
    height: 90px;
    margin-left: 20px;
    cursor: pointer;
}

.game-header-btn-group {
    display: flex;
    gap: 8px;
}

.game-header-btn {
    width: 145px;
    cursor: pointer;
}