.news-box-warp {
    width: 1338px;
height: 1731px;
}
.news-box {
    /* width: ; */
min-height: 1646px;

    border: 2px solid #513c1d;
    background: rgba(235,210,174,.1);
}
.news-box-header {
    /* min-height: 50px; */

    margin:30px 30px;
    text-align: center;
    border-bottom: 1px solid #513c1d;
}