.news-box-warp {
  width: 72.03vw;
  height: 92.86vw;
    transform: scale(0.7);
  transform-origin: top left; /* 从左上角开始缩放，保持左上角位置不变 */
  margin-right: -10%; /* 补偿右侧多出的空间，具体值根据缩放比例计算 */
  margin-bottom: -10%; /* 补偿底部多出的空间 */
  
}

.news-box {
  border: 2px solid #513c1d; /* 忽略2px不转换 */
  background: rgba(235,210,174,.1);
}

.news-box-header {
  margin: 1.56vw 1.56vw 0; /* 30px ÷ 1920 × 100 = 1.5625vw */
  text-align: center;
  border-bottom: 1px solid #513c1d; /* 忽略1px不转换 */
}