.footer-container {
  background: #1d2734;
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 24px;
  padding: 30px 50px 24px;
  width: 100%;
}

.footer-content {
  flex: 1;
}

.footer-icon-box {
  display: flex;
  align-items: center;
}

.footer-icon-jr {
  width: 215px;
  margin-right: 30px;
}

.footer-icon-yy {
  width: 195px;
}

.footer-text {
  font-size: 20px;
  line-height: 2;
}
