.footer-container {
  background: #1d2734;
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 1.25vw; /* 24px ÷ 1920 × 100 = 1.25vw */
  padding: .96vw 2.6vw .25vw; /* 30px→1.5625vw，50px→2.604vw，24px→1.25vw */
  width: 100%;
}

.footer-content {
  flex: 1;
}

.footer-icon-box {
  display: flex;
  align-items: center;
}

.footer-icon-jr {
  width: 11.19vw; /* 215px ÷ 1920 × 100 = 11.1979vw */
  margin-right: 1.56vw; /* 30px→1.5625vw */
}

.footer-icon-yy {
  width: 10.16vw; /* 195px ÷ 1920 × 100 = 10.15625vw */
}

.footer-text {
  font-size: 0.64vw; /* 20px ÷ 1920 × 100 = 1.0417vw */
  line-height: 2; /* 非px单位保持不变 */
  text-align: left;
}