.game-header-logo {
  z-index: 9999;
  width: 167px;
  height: 127px;
  position: absolute;

  cursor: pointer;

  top: 50px;
  left: 55px;
}

.nav-bar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  gap: 90px;
  width: 100vw;
  height: 94px;
  padding: 0 42px;
  background-image: url("../../public/images/nav_bg.png");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  justify-content: end;
}

.nav-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-bar-btn {
  cursor: pointer;
  width: 122px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  /* height: 62px; */
}

.nav-bar-btn-active {
  /* margin: 0 -16.5px; */
  /* width: 122px; */
}

/* .nav-bar-btn-active img {
  margin-top: 42px;
} */

.btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar-contact-arrow {
  background-image: url("../../public/images/nav_bar_contact_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 15px;
  height: 8px;
  position: absolute;
      bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-bar-contact {
  font-family: var(--font-alibaba-puhuiti);
  height: 179px;
  position: absolute;
  /* background: red; */
  right: 43px;
  top: 90px;
  display: flex;
  text-align: center;
  background-image: url("../../public/images/contact_bg.png");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  gap: 26px;
  padding: 25px;
  overflow: hidden;
}

.nav-bar-contact-code {
  background-image: url("../../public/images/nav-bar-code-border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 108px;
  height: 108px;
  padding: 4px;
  position: relative;
  cursor: pointer;
  /* background: red; */
}

.nav-bar-contact-code-border {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-bar-contact-code-img {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.nav-bar-contact-codename {
  font-size: 17px;
}
