.game-header-logo {
  z-index: 9999;
  width: 167px;
  height: 127px;
  position: absolute;

  cursor: pointer;

  top: 50px;
  left: 55px;
}

.nav-bar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  gap: 90px;
  width: 100vw;
  height: 94px;
  padding: 0 75px;
  background-image: url("../../public/images/nav_bg.png");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  justify-content: end;
}

.nav-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-bar-btn {
  cursor: pointer;
  width: 122px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  padding-bottom: 10px;
  /* height: 62px; */
}

.nav-bar-btn-active {
  /* margin: 0 -16.5px; */
  /* width: 122px; */
}

/* .nav-bar-btn-active img {
  margin-top: 42px;
} */

.btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar-contact-arrow {
  background-image: url("../../public/images/nav_bar_contact_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 15px;
  height: 8px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar-contact {
  font-family: var(--font-alibaba-puhuiti);
  height: 180px;
  position: absolute;
  /* background: red; */
  right: 43px;
  top: 87px;
  text-align: center;
  background-image: url("../../public/images/contact_bg.png");
  background-repeat: repeat-x; /* 水平方向重复 */
  background-size: auto 100%; /* 高度与div一致，宽度按比例自动计算 */
  background-position: center top; /* 水平居中开始，垂直顶部对齐 */
  /* 隐藏超出宽度的内容 */
  overflow: hidden;
}

.nav-bar-contact-content {
  display: flex;
  gap: 27px;
  padding: 24px 27px 21px;
  border: 1px solid #ffc85d;
  border-bottom: none;
  height: calc(100% - 6px);
}

.nav-bar-contact-code {
  background-image: url("../../public/images/nav-bar-code-border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 108px;
  height: 108px;
  padding: 4px;
  position: relative;
  cursor: pointer;
  /* background: red; */
}

.nav-bar-contact-code-border {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-bar-contact-code-img {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.nav-bar-contact-codename {
  font-size: 17.34px;
  line-height: 31px;
}
